useDynLib(lme4Breeding, .registration=TRUE)

import("methods")
import("Matrix")
import("lme4")

export("Dmat", "inbreeding", "relfactor", "pedigree", "lmebreed", "editPed", "getA", "getAInv")

exportClasses("pedigree", "lmebreed")

exportMethods(
              "coerce",
              "fitted",
              "head",
              "ranef",
              "residuals",
              "show",
              "tail"
              )
