useDynLib(pedigreemm, .registration=TRUE)

import("methods")
import("Matrix")
import("lme4")

export("Dmat", "inbreeding", "relfactor", "pedigree", "pedigreemm", "editPed", "getA", "getAInv")

exportClasses("pedigree", "pedigreemm")

exportMethods(
              "coerce",
              "fitted",
              "head",
              "ranef",
              "residuals",
              "show",
              "tail"
              )
