
import("methods")
import("Matrix")
import("lme4")

export( "lmebreed", "dsc", "rrc", "redmm", "overlay", "add.diallel.vars")

exportMethods(
              "coerce",
              "fitted",
              "ranef",
              "residuals"
              )
